html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
    background-image:  url("vinyl-shop.jpg");
     background-size: 100% 100%;
  background-repeat: no-repeat;
  /*   height: 100vh; */
  width: 100vw;
  height: 100vh;
  object-fit: none;
}
/* --- Navbar --- */
.navbar {
   padding-top: 0;
   padding-bottom: 0;
   min-height: 80px;
}
.navbar .navbar-nav .nav-link {
    color: #F9F3EF;
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    font-family: "Winky Rough", sans-serif;
}

.navbar .navbar-nav .nav-link:hover{
    background-color: #f9f3ef;

    color: #1B3C53;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}
iframe {
    width:80%;
    height:600px;}
