body {
    background-color: #456882;
}

/* --- Navbar --- */
.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar .navbar-nav .nav-link {
    color: #F9F3EF;
    font-size: 1.5em;
    font-family: "Winky Rough", sans-serif;
}
.navbar .navbar-nav .nav-link:hover{
    background-color: #f9f3ef;

    color: #1B3C53;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

/*--- Heading --- */
h1 {
     font-family: "Winky Rough", sans-serif;
     color:  #F9F3EF;
     text-align: center;
     font-weight: bold;
}

/* --- Carousel --- */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repear scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

/* ---- All Stores Section --- */
/* ----CARDS --- */

.btn-all {
    background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.card {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1em 1em;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05)
}

.card-img-top{
  height: 14rem;
  width: 16rem;
  object-fit: fill;
}

.card-title {
  font-weight: bold;
  font-size: 1.25em;
}
