
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
    background-color: #456882;
}

/* --- Navbar --- */
.navbar {
   padding-top: 0;
   padding-bottom: 0;
   min-height: 80px;
}
.navbar .navbar-nav .nav-link {
    color: #F9F3EF;
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    font-family: "Winky Rough", sans-serif;
}

.navbar .navbar-nav .nav-link:hover{
    background-color: #f9f3ef;

    color: #1B3C53;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

/*--- Heading --- */
h1 {
      font-size: 55px;
     font-family: "Winky Rough", sans-serif;
     color:  #F9F3EF;
     text-align: center;
     font-weight: bold;
}

/* --- Carousel --- */

.carousel-item {
    height: 70vh;   
    background: no-repear scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item img {
    height: 100%;
    object-fit: cover; 
}

.carousel-caption{
  display: inline-block;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1rem;
    border-radius:8px;
}
.carousel-caption h5,
.carousel-caption p {
    margin: 0; 
}
/* --- logo section --- */
#des{
    color: #F9F3EF;
    font-size: 35px;
    padding: 0.5rem 1rem;
    font-family: "Winky Rough", sans-serif;

}
/* ---- All Stores Section --- */
/* ----CARDS --- */

.btn-primary{
    background-color: #456882;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.store-card {
  margin-bottom: 2em;
  position: relative;
}

.store-card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

}
.card {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1em 1em;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  max-width: 280px; 
    background-color: #F9F3EF;
   
  
}

.card:hover {
  transform: scale(1.05)
}
.card-img-container {
  height: 180px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #D2C1B6; 
  border-bottom: 1px solid #eee; 
}

.card img {
  border-radius: 5px 5px 0px 0px;
 max-height: 100%;
 max-width: 100%;
 width: auto;
  height: auto;
  object-fit: contain;

}
.card-body {
  
    padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  font-size: 1.8em;
  font-family: "Winky Rough", sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers cards in row */
}

.col-md-4 {
  flex: 0 0 auto;
  width: 32%; /* Makes cards wider with consistent spacing */
  max-width: 400px; 
  min-width: 300px;
  padding: 0 8px;
}

.address {
  font-family: "Winky Rough", sans-serif;
  font-weight: bold;
  font-size: 20px;
     color:  #1B3C53;
}

/* ---- Single Record Format --- */
.details-image {
   border-radius: 5px 5px 5px 5px;
  height: auto;
  max-height: 80vh;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em;
}