html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background-image: url('music-chart.png'); 
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


#enter-page {
  margin-bottom: 40px;
}


#enter-page button {
  font-size: 2rem;
  padding: 1rem 2.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
    font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#enter-page button:hover {
  background-color: rgba(138, 206, 0, 0.9);
}
